<div class="claymind-crl8" crl8-container-id="homepage" data-site-name="{{ shop.metafields.socialCommerce.socialCommerceSiteName }}"></div>

{% schema %}
{
  "name": "Homepage Container",
  "target": "section",
  "javascript": "social-commerce-init.js"
}
{% endschema %}